@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them!
*/

* {
  font-family: 'Oswald', sans-serif;
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: #000000;
  position: absolute;
  content: '';
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: '';
  background-image: url('/assets/images/grid.svg');
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(at 27% 37%, #000000 0px, transparent 0%),
    radial-gradient(at 97% 21%, #d4d4d4 0px, transparent 50%),
    radial-gradient(at 52% 99%, #d4d4d4 0px, transparent 50%),
    radial-gradient(at 52% 99%, #d4d4d4 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/*  tooltip */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  bottom: 50%; /* Position the tooltip above the element */
  left: 30%;
  font-weight: bold;
  transform: translateX(-70%);
  background-color: red;
  color: white;
  margin-bottom: 2px;
  padding: 0.5rem;
  font-size: 0.75rem;
  border-radius: 4px;
  opacity: 0; /* Start hidden */
  transition: opacity 0.2s ease-in-out;
  pointer-events: none; /* Allow interactions with the element below */
}

.tooltip-container:hover .tooltip {
  opacity: 1;
}

/* Tailwind Styles */

.logo {
  @apply rounded-full;
}

.logo_nav {
  @apply border-2 text-xl text-gray-100 p-2;
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full border border-black bg-white py-1.5 px-5 text-black transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.discard_btn {
  @apply bg-transparent text-red-500 p-2 m-2;
}

.outline_btn {
  @apply rounded-full border border-white bg-transparent py-4 px-5 text-white transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-light leading-[1.15] text-white sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.vice {
  @apply bg-gradient-to-r from-pink-500 via-pink-600  to-cyan-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5  pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full text-white bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glass {
  @apply rounded-xl border border-gray-900 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

.prompt_content {
  @apply my-4 font-satoshi text-xl text-gray-200;
}

.prompt_content-wrapper {
  @apply mt-5 flex-end gap-4  border-gray-100 pt-3;
}

.prompt_content-email {
  @apply font-inter text-xs text-white italic opacity-50;
}

.prompt_card-trash {
  @apply font-inter text-sm cursor-pointer text-red-500;
}

.prompt_card-edit {
  @apply font-inter text-sm cursor-pointer text-white;
}

.prompt_card-tag {
  @apply font-inter text-sm blue_gradient cursor-pointer;
}

.form_styled-textarea {
  @apply text-red-500 text-2xl form_textarea;
}
/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 font-light text-sm text-gray-200 outline-0 bg-transparent border border-gray-300;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0 bg-transparent border border-gray-300;
}

.form_label {
  @apply text-base text-gray-200;
}

.hr_update {
  @apply bg-white text-white;
}

.tooltip_wrapper {
  @apply text-white;
}
/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-gray-400 min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

._home {
  @apply w-full flex-center m-auto flex-col;
}

._home_main-h2 {
  @apply text-8xl orange_gradient text-center text-gray-700 font-light;
}

._home_desc-p {
  @apply desc text-center font-light;
}

.nav_main {
  @apply flex-between w-full mb-20 bg-black mt-5;
}

.nav_wrapper_btn {
  @apply flex gap-3 md:gap-5;
}

.nav_signOut {
  @apply border-t text-lg uppercase vice mt-5  hover:text-black;
}

.nav_mobile_wrapper {
  @apply sm:flex hidden;
}

.nav_mobile {
  @apply sm:hidden flex relative;
}

.account_name {
  @apply head_text text-left blue_gradient;
}

.account_content-p {
  @apply desc text-left border-t text-white mb-2;
}

.account_prompt-div {
  @apply mt-10 prompt_layout;
}

.form_wrapper {
  @apply mt-10 w-full max-w-2xl flex flex-col gap-7 border bg-transparent p-5 rounded-2xl border-gray-800;
}

.form_label {
  @apply text-base text-gray-200;
}

.form_section {
  @apply w-full flex-start flex-col mx-10;
}

.form_label-h1 {
  @apply head_text text-center;
}
.form_desc-p {
  @apply desc text-center max-w-md font-light;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg  bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[460px] w-full h-fit;
}

.prompt_detail-div {
  @apply ml-2 flex flex-col;
}

.prompt_wrapper-div {
  @apply mt-16 prompt_layout;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
